
#box {
    padding-right: 8px;
    padding-bottom: 0px;
    height: 80px;
}

#box1, #box2, #box3, #box4 {
    font-family: serif;
    height: 80px;
}

#box3 {
    text-align: center;
}

.time {
    font-family: serif;
    padding-left: 20px;
}
  

.btn {
    text-align: right;
}

.btn2 {
    font-size: x-large;
    font-family: serif;
    font-weight: bolder;
    text-align: center;
    padding: 0px;
}


#pic {
    float: center;
    margin-bottom: -500px;
    z-index: 1000;
    position: relative;
    width: 35vw;
    border-radius: 5px;
  
}