body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.time {
  font-family: serif;
  padding-left: 10px;
  margin-top: 35px;
}


#pic {
  float: right;
  margin-bottom: -500px;
  z-index: 100000000;
  position: relative;
  width: 640px;
  border-radius: 5px;
  box-shadow: 30px;

}
